# Empresa: Concreteira
## Análise Completa
### Resumo dos Dados:

- Faturamento: R$ 4.500.000,00
- Custo totais: 80% do faturamento
    - Cimento: 45% dos custos
    - Areia: 15% dos custos
    - Brita 0: 7,50% dos custos
    - Brita 1: 7,50% dos custos
    - Manutenção: 5% dos custos
    - Combustivel: 5% dos custos
    - Aditivos, águas e outros custos diversos: 5% dos custos
    - Folha de pagamento e tributos da folha: 10% dos custos

- Lucro Bruto: 20% do faturamento
- ISS: 5% do faturamento - 40% de abatimento 
- Tributação: Lucro Real (Estimativa IRPJ e CSLL)

In [9]:
import pandas as pd
import matplotlib.pyplot as plt

# Faturamento e Custos
faturamento = 4_500_000
custos_totais = faturamento * 0.80
lucro_bruto = faturamento - custos_totais

print(f"O Lucro Bruto total é de: R$ {lucro_bruto:,.2f}")

O Lucro Bruto total é de: R$ 900,000.00

In [10]:
# Estrutura de custos
custos = {
    'Cimento': custos_totais * 0.45,
    'Areia': custos_totais * 0.15,
    'Brita 0': custos_totais * 0.075,
    'Brita 1': custos_totais * 0.075,
    'Manutenção': custos_totais * 0.05,
    'Combustíveis': custos_totais * 0.05,
    'Aditivos, água, outras despesas diversas': custos_totais * 0.05,
    'Folha e custos do DP': custos_totais * 0.10
}

print(custos)

{'Cimento': 1620000.0, 'Areia': 540000.0, 'Brita 0': 270000.0, 'Brita 1': 270000.0, 'Manutenção': 180000.0, 'Combustíveis': 180000.0, 'Aditivos, água, outras despesas diversas': 180000.0, 'Folha e custos do DP': 360000.0}

In [12]:
# Criando DataFrame
df_custos = pd.DataFrame(list(custos.items()), columns=['Categoria', 'Valor'])
df_custos['Percentual sobre Custos'] = (df_custos['Valor'] / custos_totais) * 100

display(df_custos)

,Categoria,Valor,Percentual sobre Custos
0,Cimento,1620000.0,45.0
1,Areia,540000.0,15.0
2,Brita 0,270000.0,7.5
3,Brita 1,270000.0,7.5
4,Manutenção,180000.0,5.0
5,Combustíveis,180000.0,5.0
6,"Aditivos, água, outras despesas diversas",180000.0,5.0
7,Folha e custos do DP,360000.0,10.0

In [31]:
# Cálculo ISS
iss = (faturamento * 0.60) * 0.05
print(f"Valor do ISS a recolher: R$ {iss:,.2f}")

Valor do ISS a recolher: R$ 135,000.00

In [33]:
# Cálculo PIS e COFINS
credito_pis = custos_totais * 0.015
credito_cofins = custos_totais * 0.076

pis = (faturamento * 0.015) - credito_pis
cofins = (faturamento * 0.076) - credito_cofins

print(f"O valor do PIS a recolher: R$ {pis:,.2f}")
print(f"O valor do COFINS a recolher: R$ {cofins:,.2f}")
print(f"O valor total de PIS + COFINS: R$ {pis + cofins:,.2f}")

O valor do PIS a recolher: R$ 13,500.00
O valor do COFINS a recolher: R$ 68,400.00
O valor total de PIS + COFINS: R$ 81,900.00

In [35]:
# Cálculo da base do IRPJ
base_irpj = faturamento - custos_totais

# Cálculo do IRPJ
# Alíquota básica de 15%
irpj_basico = base_irpj * 0.15

# Adicional de 10% se a base for >= 240000
adicional_irpj = 0
if base_irpj >= 240000:
    adicional_irpj = base_irpj * 0.10

# IRPJ total
irpj_total = irpj_basico + adicional_irpj

# Cálculo CSLL
csll = base_irpj * 0.09

print(f"O valor do IRPJ: R$ {irpj_total:,.2f}")
print(f"O valor do CSLL: R$ {csll:,.2f}")
print(f"O valor total de IRPJ + CSLL: R$ {irpj_total + csll:,.2f}")

O valor do IRPJ: R$ 225,000.00
O valor do CSLL: R$ 81,000.00
O valor total de IRPJ + CSLL: R$ 306,000.00